.vsc-initialized{
  background-color: #fcd79f
}

body {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


.header{
  /* background-color: rgb(210, 131, 62); */
  height: 100px;
  width: auto;
}

.formDiv{
  /* background-color: #f29248 */
}

.formDiv{
  display: flex;
  flex-direction: column;
  justify-content:center;
  background-color: skyorange
}

.radioDiv{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.maritalDiv{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.reason{
  height: 50px;
  width: 600px;
}
